<%- include("../inicio/head.ejs") %>

<%- include("../inicio/header.ejs") %>

<%- include("../inicio/menu_horizontal_index.ejs") %>

<%- include("../inicio/botoes_index.ejs") %>
        
        
        <section>
            <div id="dados">
              <p id="vrmysql">Vr. Mysql</p>
              <p id="data">Data Atual</p>
              <p id="hora">Hora Certa</p>
            </div>
        </section>
      </div>
    </form>
    <%- include("../inicio/footer.ejs") %>
