<div id=corpo>
  <div class='form-row' style="margin-left: 22px;">

    <div class="col-md-2" id="btn_livros">
      <button type='submit' class="btn btn-primary btn-block">
        <%= livros %>
      </button>
    </div>

    <div class="col-md-2" id="btn_editoras">
      <button type='submit' class="btn btn-sucess btn-block">
        <%= editoras %>
      </button>
    </div>

    <div class="col-md-2" id="btn_autores">
      <button type='submit' class="btn btn-warning btn-block">
        <%= autores %>
      </button>
    </div>

    <div class="col-md-2" id="btn_usuarios">
      <button type='submit' class="btn btn-light btn-block">
        <%= usuarios %>
      </button>
    </div>

    <div class="col-md-2" id="btn_configuracoes">
      <button type='submit' class="btn btn-info btn-block">
        <%= configuracoes %>
      </button>
    </div>

  </div>

<br>  