<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="/estilos/estilos.css"/>
    <title><%= title %></title>
  </head>
  <body>

  <!--  Inicio cabeçalho colunado-->
    <header>
      
      <div class="form-row">
        <div class="col-md-2" id="cab_esquerda">
          <figure>
            
            <img id="logoFatec" src="./imagens/LogoFatec.jpg" alt="Logo Fatec">
          </figure>
        </div>

        <div class="col-md-8" id="cab_centro">
          <p></p>
          <p><h1 style="color: brown;"> <%= titulo %> </h1></p>
        </div>

        <div class="col-md-2" id="cab_direita">
          <figure>
            <img id="logoCPS" src="./imagens/LogoCPS.jpeg" alt="Logo CPS">
          </figure>
        </div>
      </div>
    </header>
  <!-- fim do cabeçalho colunado-->

    <!--
      inicio menu horizontal
    -->
    <div id='menu'>
      <nav class='menuPrincipal'>
        <ul>
          <li> <a href="/noticias/noticiasMenu">Noticias</a></li>
          <li> <a href="/receitas/receitasMenu">Receitas</a></li>
          <li> <a href="/lazer/lazerMenu">Lazer</a></li>
          <li> <a href="/classificados/classificadosMenu">Classificados</a></li>
          <li> <a href="/eletronicos/eletronicosMenu">Eletronicos</a></li>
          <li> <a href="/contatos/contatosMenu">Contatos</a></li>
        </ul>
      </nav>
    </div>

  <!--.........
    final do menu horizontal
    .-->
    
  <!-- Inicio dos Botoes

    <form action="/getMysql">
      <div id=corpo>
        <div class='form-row'>
          <div class="col-md-2" id="btn_submit">
            <button type='submit' class="btn btn-primary btn-block"> <%= versao %> </button>
          </div>

          <div class="col-md-2" id="btn_data">
            <button type='button' onclick="fdate()" class="btn btn-sucess btn-block"> <%= data %> </button>
          </div>

          <div class="col-md-2" id="btn_hora">
            <button type='button' onclick="fhora()" class="btn btn-warning btn-block"> <%= hora %> </button>
          </div>
        </div>
        <br>

        <section>
          <div id="dados">
            <p id="vrmysql">Vr. Mysql</p>
            <p id="data">Data Atual</p>
            <p id="hora">Hora Certa</p>
          </div>
        </section>
      </div>      
    </form>
    <!--..... Final dos botoes-->

    <footer>
      <h6>Rodapé</h6>
    </footer>
  
  
    

    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script type="text/javascript" src="js/script.js"></script>
  </body>
</html>