<%- include("../livros/livros_head.ejs") %>

<%- include("../livros/livros_header.ejs") %>

<%- include("../livros/livros_menu_horizontal.ejs") %>
        
<!-- PRIMEIRA LINHA DE CARDS -->
<section>
  <div id="cadastro">
    <div class="form-row">
      <div class="col-md-1 offset-md-0" id="cab_esquerda">
        <label>Código</label>
        <input type="text" value="<%= obj_livros[0].liv_codigo%>" name="liv_codigo" class="form-contro" size="5" readonly>
        

      </div>

    </div>

  </div>
</section>

    <%- include("../livros/livros_footer.ejs") %>
